<h1>{{ title }}</h1>
<div class="center">
  <h3>Basic Calculator</h3>
  <input type="number" placeholder="First Value" [(ngModel)]="firstValue">
  <input type="number" placeholder="Second Value" [(ngModel)]="secondValue">
  <h1>{{ result }}</h1>
  <button type="button" class="btn" (click)="add()">+</button>
  <button type="button" class="btn" (click)="sub()">-</button>
  <button type="button" class="btn" (click)="multiply()">*</button>
  <button type="button" class="btn" (click)="divide()">/</button>
  <button type="button" class="btn" (click)="mod()">%</button>
</div>
<!-- <app-counter></app-counter> -->
<!-- <app-user></app-user> -->

<h1>Web Workers in Angular</h1>
<button (click)="Runheavytask()">Run Heavy Task</button>
<p *ngIf="result">Result: {{ result }}</p>
<app-data></app-data>
<!-- pwa -->
<h1>Angular 19 PWA Demo</h1>
<button (click)="installPWA()">Install App</button>
<p *ngIf="isInstalled">App Installed!</p>
<app-app-shell></app-app-shell>
<router-outlet></router-outlet>
